:host {
    /**
     * @prop --background: Background of the popover content
     * @prop --color: Color of the popover content
     * @prop --z-index: z-index of popover content 
     * @prop --arrow-size: size of the arrow
     */
    --background: #fff;
    --color: #000;
    --z-index: 30;
    --arrow-size: 10px;
}

.popover-wrapper {
    position: relative;
    display: inline-block;
}

.popover-content {
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--background, #fff);
    color: var(--color, #000);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    transform: translate(0, 10px);
}
.popover-content::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: -8px;
    border-style: solid;
    border-width: 0 var(--arrow-size, 10px) var(--arrow-size, 10px) var(--arrow-size, 10px);
    border-color: transparent transparent var(--background, #fff) transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover-content.right {
    right: 10px;
}
.popover-content.left {
    left: 10px;
}
.popover-content.right::before {
    right: 10px;
}
.popover-content.left::before {
    left: 10px;
}

.popover-content.active {
    opacity: 1;
    visibility: visible;
}

.popover-content.animated {
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}