:host {
    /**
     * @prop --color: background color of the backdrop
     * @prop --z-index: z-index of the backdrop
     * @prop --opacity: opacity of the backdrop
     */
    --opacity: 0.32;
    --z-index: 10;
    --color: #000;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: block;
    position: absolute;
  
    cursor: pointer;
    opacity: var(--opacity, 0.32);
    touch-action: none;
    z-index: var(--z-index, 10);
    background-color: var(--color, #000);
}

:host(.backdrop-animated) {
    transform: translateZ(0);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

:host(.backdrop-hide) {
    background: transparent;
}

:host(.backdrop-no-tappable) {
    cursor: auto;
}