:host {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: block;
    position: absolute;
  
    cursor: pointer;
    opacity: .32;
    touch-action: none;
    z-index: 10;
    background-color: black;
}

:host(.backdrop-animated) {
    transform: translateZ(0);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

:host(.backdrop-hide) {
    background: transparent;
}

:host(.backdrop-no-tappable) {
    cursor: auto;
}